.DisPublish table{
    width: 99%;
}
.ID{
    width: 3%;
}

.Type{
    width: 13%;
}

.Content{
    width: 25%;
}

.Option{
    width: 15%;
}

.AnswerDes{
    width: 25%;
}
.Answer{
    width: 15%;
}
.Define{
    width:99%;
    margin:auto;
    float: left;
    margin-left: 0.4%;
    margin-top: 3%;
    border-style: double;
    border-width: 4px;
}

.Define p{
    float: left;
    margin-left: 5px;
}
.DisPublish td{
    text-align: center;
}
.Define input{
    margin-top: 1%;
    float: left;
    width: 98%;
}

.Define button{
    margin-top: 1%;
    margin-left: 20px;
    float: left;
}

.Modify{
    border-style: solid;
    width: 60%;
    margin-top: 7%;
    margin-left: 10%;
}
.Modify h2{
    text-align: center;
}
.Modify input{
    width: 80%;
    height: 30px;
}

.Modify p{
    width: 5%;
    margin-bottom: 0px;
}

.Modify a{
    margin-right: 10px;
    text-decoration: none;
    border-style: outset;
    background-color: wheat;
    position: relative;
    left: 90%;
}

.Modify button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50px;
}