.UserInfo td{
    text-align: center;
}

.UserInfo table{
    width: 90%;
}
.ID{
    width: 3%;
}

.ChapterName{
    width: 10%;
}

.ChapterF{
    width: 20%;
}

.ChapterS{
    width: 20%;
}

.Modify1{
    width: 10%;
}

.Delete{
    width: 10%;
}

.Example{
    width: 30%;
}

.Solution{
    width: 30%;
}

.Modify{
    border-style: solid;
    width: 60%;
    margin-top: 7%;
    margin-left: 10%;
}
.Modify h2{
    text-align: center;
}
.Modify input{
    width: 80%;
    height: 30px;
}

.Modify p{
    width: 50%;
    margin-bottom: 0px;
}

.Modify a{
    margin-right: 10px;
    text-decoration: none;
    border-style: outset;
    background-color: wheat;
    position: relative;
    left: 90%;
}
.Modify button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50px;
}
.ChapterAdd{
    border-style: double;
    margin-top: 5px;
    margin-left: 1px;
    border-width: 3px;
}

.ChapterAdd form{
    margin-bottom: 3%;
}

.ChapterAdd input{
    width: 80%;
}