.QuizzesInfo div{
    margin-top: 2%;
    border-style: double;
    border-width: 4px;
    width: 79%;
}

.QuizzesInfo h2{
}

.QuizzesInfo p{
}

.QuizzesInfo input{
    border-style: solid;
    width: 80%;
}

.QuizzesInfo button{
    border-style: solid;
}
.Modify {
    border-style: solid;
    width: 70%;
    margin-left: 10%;
    margin-top: 7%;
    height: 400px;
}

.Modify h2{
    text-align: center;
    width: 80%;
}

.Modify a{
    margin-right: 10px;
    text-decoration: none;
    border-style: outset;
    background-color: wheat;
    position: relative;
    left: 90%;
}
.Modify input{
    width: 80%;
    height: 30px;
    margin: 0px;
}

.Modify button{
    width: 150px;
    height: 50px;
    margin-top: 5px;
    border-radius: 50px;
}

.Modify p{
    margin: 0px;
}