
.UserInfo td{
    height: 10%;
}

.ID{
    width: 5%;
    text-align: center;
}
.Name{
    width: 10%;
    text-align: center;
}
.Email{
    width: 15%;
    text-align: center;
}
.Role{
    width: 10%;
    text-align: center;
}
.Modify1{
    width: 5%;
    text-align: center;
}
.Delete{
    width: 5%;
    text-align: center;
}
.Modify {
    border-style: solid;
    width: 50%;
    margin-left: 10%;
    margin-top: 7%;
    height: 400px;
}

.Modify h2{
    text-align: center;
    width: 80%;
}

.Modify a{
    margin-top: 2%;
    margin-right: 10px;
    text-decoration: none;
    border-style: outset;
    background-color: wheat;
    position: relative;
    left: 90%;
}
.Modify input{
    width: 80%;
    height: 30px;
}
.Modify p{
    margin: 0px;
}
.Modify button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50px;
}