.comment-wrap {
    margin-top: 1%;
    margin-bottom: 0px;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
    padding: 0px;
}
.comment-wrap a{
    text-decoration: none;
}
.EachContent{
    border-style: solid;
    padding-bottom: 5px;
}
.DisPlay{
    height: 100%;
    padding: 1px;
    margin-bottom: 10px;
}
.DisPlay .photo{
    width: 7%;
    height: 14%;
    padding: 2px;
    margin-right: 0px;
}
.DisPlay .content{
    width: 95%;
    margin-left: 2%;
    margin-right: 0px;
}
.content li{
    position: relative;
    left: 80%;
    list-style: none;
}

.DisPlay img{
    margin-top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50px;
}
.DisPlay p{
    width: 90%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}
.DisReply{
    width: 83%;
    margin-left: 7%;
}
.DisReply img{
    width: 3%;
    height: 3%;
    border-radius: 50px;
}
.DisReply p{
    background-color: white;
}
.DisReply li{
    margin-right: 5%;
    list-style: none;
}