body{
    background-color: wheat;
}
.OnePage{
    width: 99%;
    text-align: center;
}

.ListOption {
    float: left;
    width: 20%;
    height: 670px;
    border-style: solid;
}
.ListOption ul{
    list-style: none;
    margin-left: 0px;
    border-style: outset;
    padding: 0px;
}
.ListOption li{
    width: 100%;
    height: 42px;
    background-image: url("/static/img/List1.gif");
    text-align: center;
    line-height: 42px;
    background-size:100%;
    background-repeat: no-repeat;
    padding: 0px;
    margin-left: 0px;
}
.ListOption a{
    color: #000;
    text-decoration: none;
}

.OptionPage{
    float: left;
    border-style: solid;
    width: 78%;
    height: 670px;
    margin-right: 0px;
}
.OptionPage iframe{
    width: 100%;
    height: 100%;
}