.Info
{
    background-image: url("/static/img/Info.gif");
    height:100px;
    width:99%;
    margin:auto;
    padding-top:0px;
}
.Log a{
        position:relative;
        left:5%;
        top:25px;
}
.Log a:hover{
    background-color:rgb(255,255,255);
}
.Log form{
    height:40%;
    margin_left:auto;
    padding:0px;
    text-align:right;
    float:right;
}
.Log img{
    width: 34px;
    height: 34px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    float: right;
    margin-right: 10%;
}
.Info div{
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
}
Info div:hover{
    background-color: lemonchiffon;
}
.Info h4{
    text-align: left;
    margin-left: 5%;
}
.Info p{
    width: 30%;
    margin-left: 13%;
    text-align: center;
    text-overflow:ellipsis;
}

.Likes img{
    height: 20%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -40%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px;
}

.InfoDis{
    border-style: solid;
    border-width: 1px;
    height:550px;
    width: 20%;
    float: left;
    background-color: cyan;
    margin-left: 7px;
}

.DisPublish{
    margin-left: auto;
    width:99%;
    margin:auto;
}

.Define{
    width:99%;
    margin:auto;
    float: left;
    margin-left: 0.4%;
    margin-top: 3%;
}
.Define p{
    float: left;
    margin-left: 5px;
}
.Define input{
    margin-top: 1%;
    float: left;
}

.Define button{
    margin-top: 1%;
    margin-left: 20px;
    float: left;
}

.Modify {
    border-style: solid;
    width: 70%;
    margin-left: 10%;
    margin-top: 7%;
    height: 400px;
}

.Modify h2{
    text-align: center;
    width: 80%;
}

.Modify a{
    margin-top: 2%;
    margin-right: 10px;
    text-decoration: none;
    border-style: outset;
    background-color: wheat;
    position: relative;
    left: 93%;
}
.Modify input{
    width: 80%;
    height: 30px;
    margin: 0px;
}

.Modify button{
    width: 150px;
    height: 50px;
    margin-top: 5px;
    border-radius: 50px;
}

.Modify p{
    margin: 0px;
}