
.main ul{
    margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
}

.main a{
    display: block;
    width: 100%;
    height: 50px;
    font-family: Microsoft Yahei;
    line-height: 50px;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}

textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: .32rem;
    color: #555f77;
}

p {
    line-height: 1.3125rem;
}
.comments {
    width: 100%;
    font-size: .32rem;
    padding: 0 1.25rem;
    margin-top: 1.32rem;
}
.comment-wrap {
    margin-top: 1%;
    margin-bottom: 0px;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
    padding: 0px;
}
.comment-wrap a{
    text-decoration: none;
}
.EachContent{
    width: 100%;
    border-style: solid;
    padding-bottom: 5px;
    margin-bottom: .32rem;
    border-radius: 0.1875rem;
}
.DisPlay{
    height: 100%;
    padding: 1px;
    margin-bottom: 10px;
}
.DisPlay .photo{
    width: 7%;
    height: 14%;
    padding: 2px;
    margin-right: 0px;
}
.DisPlay .content{
    width: 95%;
    position: relative;
    top: -5%;
    margin-left: 2%;
    margin-right: 0px;

}
.content div{
    position: relative;
    left: 80%;
    padding: 0px;
}
.content li{
    position: relative;
    left: 80%;
    list-style: none;
    border-style: solid;
    width: 10%;
    line-height: 30px;
    height: 30px;
    padding: 0px;
}
.content a{
    width: 50%;
    height: 50px;
    padding: 0px;
    margin-left: 5px;
    position: relative;
    bottom: 0px;
    font-size: 20px;
}
.DisPlay img{
    width: 50%;
    border-radius: 100%;
    margin: 0px;
    position: relative;
    top: 0px;
}
.DisPlay p{
    width: 100%;
    background-color: white;
    line-height: .64rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.DisReply{
    width: 83%;
    margin-left: 7%;
}
.DisReply img{
    width: 3%;
    height: 3%;
    border-radius: 50px;
}
.DisReply p{
    background-color: white;
}
.DisReply li{
    margin-right: 5%;
    list-style: none;
}
.EachContent form{
   position: relative;
    left: 70%;
}
.comment-block {
    margin-top: .32rem;
    background-color: #fff;
    border-radius: 0.1875rem;
    width: 100%;
    margin-left: 0.1%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    padding: 3px;
    overflow: hidden;
    border: 1px solid #666;
}
.comment-block textarea{
    width: 98%;
}
.comment-block input{
    position: relative;
    left: 92%;
}
.reBut{
    background-image: url(../img/Submit.gif);
    width: 56px;
    background-position: center;
    background-repeat: no-repeat;
}
.PageSec
{
    margin-left:40%;
    position: fixed;
    bottom: 0px;
}
.PageBut{
    background-radius:100px;
}

.Follows{
    float:right;
    width:31%;
    height:478px;
    border-left-style:solid;
    margin-top:3%;
    margin-right:7px;
}

.Follows button{
    width:80px;
    height:30px;
    border-radius:50px;
    position:relative;
    left:75%;
    right:0px;
}

.Follows p{
    border-style:outset;
    border-width:1px;
    width:95%;
    margin-left:2%;
    background-color:rgb(255,255,255);
    height:60%;
}


.content img{
    width: 3%;
    height: 10%;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    top:5px;
}