
body {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}
.main ul{
     margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
    line-height: .64rem;
}

.main a{
    display: block;
    width: 100%;
    height: 1rem;
    font-family: Microsoft Yahei;
    line-height: 1rem;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: .32rem;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}



.InfoDis{
    height:11rem;
    line-height: .64rem;
    width: 20%;

    margin: .2rem;
    background-color: #ffffff !important;
    border-radius: .1rem;
    background-image: url(../img/Independent.gif);
    background-repeat: no-repeat;
    background-size: 100% 3rem;
    overflow: hidden;
    font-size: .2rem;
    padding: .2rem;
    color: #747474;
}
.InfoDis h2{
    font-size: .48rem;
    line-height: .48rem;
    color: #000;
}
.DisPlayArea{
    /*margin-top: 4%;*/
    margin: 0 7px;
    padding: 0px;
    background-color: #EEEEEE;
    display: flex;
}
.Test{
    width:30%;
    height:11rem;
    /*margin:auto;
    margin-left:8px;*/
    margin: .2rem;
    padding:0px;
    /*border-top-style:solid;
    border-right-style:groove;
    border-right-width: 5px;
    border-bottom-style:groove;*/
   /* float: left;*/
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}
.Test p{
    color: red;
    margin-left: 2%;
}
.Test img{
    border-style: none;
}
.Level1 {
    padding:0px;
    width:99%;
    border-radius:5px;
   /* border-bottom-style: solid;*/
    height: 2rem;
    position: relative;
    z-index: 2;
}
.Level1 a{
    width:30%;
    height: 100%;
    margin-left: 25%;
   /* border-width:2px;*/
    padding: 0px;
}
.unlock{
    position: relative;
    left: .3rem;
}
.Level1 .levelName{
   position: absolute;
    top: 2rem;
    left: 2.25rem;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 2.25rem;
    text-align: center;
    overflow: hidden

}

.Level1 img{
    width: 3rem;
    margin-top: 1%;
    margin-bottom: 0px;
    height: 3rem;
    border-style: double;
}


.Subject{
    padding:0px;
    width:47%;
    height:11rem;
    /*border-top-style:solid;
    border-right-style:groove;
    border-left-style:groove;
    border-left-width: 5px;
    border-bottom-style:groove;*/
    /*float: left;*/
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    background-image: url(../img/Independent.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*.Subject p{
    background-color:rgb(212,232,212);
    width:90%;
    height:50%;
    margin-left:10px;
    margin-top:20px;
    padding:10px;
    border-radius:40px;
    border-style:outset;
    border-width:5px;
}*/
/*.Subject div{
    padding:0px;
    width:60%;
    height:10%;
    position: relative;
    left: 40%;
}*/
.Subject form{
    height: 8%;
    margin-left: 5%;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 73%;
}
.Subject input{
    width:80%;
    height:80%;
    border-radius:2rem;
}

.Subject button{
    height:80%;
    width:15%;
    border-radius: 1rem;
}

.Subject a{
    position: relative;
    left: 40%;
    color: lightseagreen;
    margin-top: 0px;
}

.Subject img{
    width: 15%;
    position: absolute;
    bottom: 1.2rem;
    right: 1.5rem;
    margin-bottom: 0px;
}
