
.main ul{
     margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
}

.main a{
    display: block;
    width: 100%;
    height: 50px;
    font-family: Microsoft Yahei;
    line-height: 50px;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}


.ti_info{
    margin-top:60px;
    margin-left:7px;
    width:99%;
    height:20%;
    background-image: url(../img/Error1.gif);
}

.ti_det{
    width:99%;
    margin:auto;
    padding:0px;
    background-image: url(../img/Error2.gif);
}

th{
    text-align: center;
}

.number{
    width:5%;
    text-align:center;
}

.test{
    width:40%;
    text-align:left;
}

.time{
    width:10%;
    text-align:center;
}

.count{
    width:4%;
    text-align:center;
}

.Detail{
    width:99%;
    height:200px;
    background-color: #c3c3c3;
    margin-left:7px;
    position: relative;
    bottom: 0px;
}

.Detail input{
    /*border-radius:20px;*/
    position:absolute;
    top:160px;
    right:10px;
    /*background-color:rgb(144,122,133);*/
}

.ErDisNone{
    display: none;
    background-color: cyan;
}

.ErDis{
    background-color: bisque;
    margin-top:1%;
    margin-left:0.2%;
    border-style: outset;
    border-width: 2px;
    width: 99%;
}

