
.main{
    border-radius: 10px;
}
.main ul{
    margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
    border-radius: 10px;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
}

.main a{
    display: block;
    width: 100%;
    height: 50px;
    font-family: Microsoft Yahei;
    line-height: 50px;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}




.show{
    background-color:rgb(255,179,113);
    height:500px;
    width:99%;
    margin-top:4.5%;
    margin-left: auto;
    margin-right: auto;
    padding-top:0px;
    background-image:url(../img/HomeBlack.gif);
}

.show div{
    background-color:rgb(255,255,255);
    margin-left:8%;
    width:40%;
    height:80%;
    position:relative;
    left:12%;
    top:8%;
    padding:0px;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    border-radius: 50px;
}

.show button{
    background-color:rgb(195,248,225);
    width:150px;
    height:30px;
    position:relative;
    top: 20%;
    left:35%;
    border-style:ridge;
    border-radius: 5px;
}

.show p{
    margin-left: 8%;
}

.show h3{
    margin-left: 8%;
}
.show li{
    margin-left: 1.5%;
    list-style: none;
}
.show h2{
    margin-left: 2%;
    color: goldenrod;
    padding-top: .5rem;
    font-size: 35px;
}

.show h4{
    font-size: 23px;
    line-height: 1rem;
}
.bottom{
    margin:auto;
    padding:0px;
    width:99%;
    height:20%;
    background-color:rgb(106,90,205);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: #ffffff;
}

.bottom h3{
   padding: 5px;
    margin: 0;
    font-size: .36rem;
}

.bottom h1 {
    color: #ffffff;
    padding: 5px;
    margin: 0;
    font-size: .64rem;
}
