
.main ul{
     margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
}

.main a{
    display: block;
    width: 100%;
    height: 1rem;
    font-family: Microsoft Yahei;
    line-height: 1rem;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: .32rem;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}
.bgmain{

}
.OptionQuestion{
    width: 35%;
}
.Question{
    float: left;
    margin-left: 7px;
    width: 100%;

}

.Question p{
    width: 80%;
    margin-bottom: 0px;
    line-height: .64rem;
}

.Question a{
    margin-top: 0px;
    height: 2rem;
    text-decoration: none;
    padding: 0px;
    font-size: .4rem;
    position: relative;
}
.Question img{
   /* width: 2.5%;*/
    margin: 0px;
    top: 4px;
    width: .75rem;
    height: .75rem;
    vertical-align: middle;
}
.DoQuestion{
    /*border-style: outset;
    border-width: 5px;*/
    margin-left: 2%;
    width: 100%;
    /*border-color: lemonchiffon;*/
    /*position: absolute;
    top: 273px;
    bottom: 50%;
    left: 60%;
    padding-left: 2%;*/
}
.DoQuestion p{
    line-height: .64rem;
}

.DoQuestion img{
    width: 20%;
    float: right;
    margin-right: 10%;
}
.ModifyQuestion{
    border-style: outset;
    border-width: .1rem;
    margin-left: 2%;
    width: 35%;
    height: 40%;
    border-color: lemonchiffon;
    position: fixed;
    top: 30%;
    bottom: 50%;
    left: 60%;
    padding-left: 2%;
}

.ModifyQuestion p{
    width: 100%;
}
.ModifyQuestion input{
    width: 90%;
}
.ModifyQuestion button{
    margin-top: .02rem;
}

.AddQuestion{
    /*border-style: outset;
    border-width: 5px;
    margin-left: 2%;
    width: 35%;
    height: 50%;
    border-color: lemonchiffon;
    position: absolute;
    top: 271px;
    bottom: 50%;
    left: 60%;
    padding-left: 2%;*/
    width: 37%;
    margin-left: 1%;
    display: inline-block;
}
.AddQuestion form{
    margin-top: 10%;
}
.AddQuestion p{
    width: 100%;
}
.AddQuestion input{
    width: 90%;
}
.AddQuestion button{
    margin-top: 2px;
}
.AddQuestion h3{
    font-size: 30px;
}
.Add{
    font-size: x-large;
    background-color: wheat;
    float: left;
    width: 35%;
    text-align: center;
    margin-top: 1%;
    border-style: outset;
    border-color: wheat;
    border-radius: 100px;
}
.Add a{
    text-decoration: none;
}

.ChoicePro{
    border-style: solid;
    text-align: center;
    margin-top: 3.5%;
    width: 98.5%;
    margin-left: 7px;
    background-color: darkgray;
}

.ChoicePro a{
    text-decoration: none;
    font-size: 25px;
}
body {
    background-color: #fff;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #555f77;
    -webkit-font-smoothing: antialiased;
     background-image: url(../img/Independent.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}
.main{
    border-radius: 10px;
    width: 100%;
    height: auto;


}
.main ul{
    margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
    border-radius: 10px;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
}

.main a{
    display: block;
    width: 100%;
    height: 50px;
    font-family: Microsoft Yahei;
    line-height: 50px;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}

.Info
{
    background-image: url("/static/img/Info.gif");
    height:100px;
    width:99%;
    margin:auto;
    padding-top:0px;
    display: flex;
    justify-content: center;
}
.Log a{
        position:relative;
        left:5%;
        top:25px;
}
.Log a:hover{
    background-color:rgb(255,255,255);
}
.Log form{
    height:40%;
    margin_left:auto;
    padding:0px;
    text-align:right;
    float:right;
}
.Log img{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    float: right;
    margin-right: 10%;
}
.Info div{
    float: left;
    width: 11%;
    height: 100%;
    text-align: center;
    font-size: 20px;
}
Info div:hover{
}
.Info h4{
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
}
.Info p{
    width: 30%;
    margin-left: 13%;
    text-align: center;
    text-overflow:ellipsis;
    margin-top: 0px;
}

.Likes img{
    height: .6rem;
    width: .6rem;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
}
.show{
    background-color:rgb(255,179,113);
    height:10rem;
    width:99%;
    margin-top:4.5%;
    margin-left: auto;
    margin-right: auto;
    padding-top:0px;
    background-image:url(../img/HomeBlack.gif);
}

.show div{
    background-color:rgb(255,255,255);
    margin-left:8%;
    width:40%;
    height:80%;
    position:relative;
    left:12%;
    top:8%;
    padding:0px;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    border-radius: 1rem;
}

.show button{
    background-color:rgb(195,248,225);
    width:3rem;
    height:.6rem;
    position:relative;
    top: 20%;
    left:35%;
    border-style:ridge;
    border-radius: 5px;
}

.show p{
    margin-left: 8%;
}

.show h3{
    margin-left: 8%;
}
.show li{
    margin-left: 1.5%;
    list-style: none;
}
.show h2{
    margin-left: 2%;
    color: goldenrod;
    font-size: .64rem;
}

.show h4{
    font-size: .48rem;
}
.bottom{
    margin:auto;
    padding:0px;
    width:99%;
    height:20%;
    background-color:rgb(106,90,205);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: #ffffff;
}

.bottom h3{
   padding: .1rem;
    margin: 0;
}

.bottom h1 {
    padding: 5px;
    margin: 0;
}

