body{

}
.Bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 70%;
    float: left;
    height: 740px;
    margin: 0px;
    padding: 0px;
}

.Bg img{
    width: 100%;
    height: 100%;
}
.loginn{
    background-color: white;
    height: 320px;
    width: 25%;
    padding: 25px;
    border-radius: 25px;
    float: left;
}

.loginn img{
    width: 80%;
    position: relative;
    left: 15%;
    margin-top: 0px;
}
.loginn>p{
    margin-left: 35%;
    margin-top: 10px;
    color:black;
    font-size: 20px;
}

.loginn h3{
    font-size: 40px;
    position: relative;
    left: 30%;
}
.loginn form{
}
.LOGB{
    border-collapse: separate;
    border-radius: 15px;
    border: 1px solid ;
    text-align: right;
    width: 98%;
    height: 40Px;
}
.LOGD{
    width: 50%;
    height: 35px;
    border-radius: 25px;
    outline: none;
}
.LOGD button{
    background-color: #4cae4c;
}
.LOGE{
    font-size: 10px;
    margin-left: 6%;
    margin-bottom: 10%;
}
.input2{
    outline: none;
    border: 0px;
    margin-right: 20%;

}