body {
    background-color: #f0f2fa;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #555f77;
    -webkit-font-smoothing: antialiased;
}
.PerInfo{
    background-color: #ae9d81;
    border-style: solid;
    height: 30%;
}

.PerInfo img{
    height: 10%;
    width: 10%;
    text-align: center;
    position: relative;
    left: 30%;
    border-style: solid;
    border-radius: 100px;
}

.PerInfo h2{
    border-style: solid;
    width: 20%;
    position: relative;
    left: 41%;
    margin-top: -7%;
    margin-bottom: 5%;
    margin-left: 0px;
}
.AboutMe{
    background-color: #fb7941;
    border-style: solid;
    height: 20%;
    padding: 0px;
    float: left;
    width: 99.6%;
}

.AboutMe li{
    list-style-type: none;
    float: left;
    margin-left: 3%;
    width: 15%;
}

.AboutMe a{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: #ffffff;
    line-height: 50px;
    color: #545e74;
}

.PerData{
    border-style: solid;
    background-color: greenyellow;
    padding-top: 10px;
}

.EachContent{
    float: left;
    width: 100%;
    border-style: solid;
    margin-bottom: 10px;
}

.DisPlay{
    width: 98%;
    padding: 0px;
    margin-bottom: 0px;
    font-size: x-large;
}
.DisPlay p{
    width: 100%;
    margin-left: 10px;
    background-color: wheat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.DisReply a{
    text-decoration: none;
    float: left;
    margin-left: 5%;
    margin-top: 0px;
    width: 5%;
}
.DisReply p{
    float: left;
    margin-top: 0%;
    width: 88%;
    margin-left: 5px;
    border-style: inset;
}
.DisReply img{
    background-color: greenyellow;
    width: 30%;
    height: 30%;
}

.DisPublish{
    margin-left: auto;
    width:70%;
    margin:auto;
    background-color: red;
    float: left;
}
.UserPublish{
    float: right;
    margin-left: 3%;
    margin-right: 5%;
    width: 20%;
}

.Logout{
    line-height: 80px;
    margin-left: 25%;
}

.Remark{
    padding: 0px;
}

.Remark p{
    width: 100%;
    text-align: left;
    margin-left: 0px;
}