
body {
    background-color: #f0f2fa;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #555f77;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}
.main ul{/*设置导航栏的框框*/
     margin:auto;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
    width: 99%;/*框框的宽度*/
    height: 100%;/*框框的长度*/
    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
    border:0px solid #000;/*添加边框*/
}
.main li{
    list-style-type: none;/* 去掉li前的点 */
    float: left;/*将li设置成做浮动，变为联动*/
    width:14.2855%;
}

.main a{
    display: block;/*将a变成块状*/
    width: 100%;/*设置块的宽度*/
    height: 1rem;/*设置块的长度*/
    font-family: Microsoft Yahei;
    line-height: 1rem;/*设置字体在块中的高度*/
    background-color: deepskyblue;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: #fff;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: .32rem;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}


.Menu{
    height:80%;
    width:18%;
   /* float:left;*/
   /* margin-top:1%;
    margin-left:0.5%;
    margin-right:0px;
    padding:0px;
    border-style: solid;
    border-width: 2px;
    border-color: green;*/
    margin:.2rem .2rem .2rem .1rem;
    height: 10rem;
    background-color: #ffffff;
    border-radius: .1rem;
    padding: .2rem;
    position: relative;
    overflow: hidden;
    background-color: #F8F8FA;
    /*
    background-image: url(../img/Independent.gif);
    background-repeat: no-repeat;
    background-size: 100% 150px;*/
}

.Menu ul{
    border-radius: 2px;
    margin:auto;
    padding:0px;
    list-style: none;
    width:99%;
    text-align: left;
    overflow: hidden;
    z-index: 2;
}
.Menu li{
    margin:auto;
    padding: 0px;
    list-style: none;
    /*border :1px solid black;*/
    width:100%;
    background-color: #F8F8FA;
    border-bottom: 1px solid #acacac;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Menu a{
    color: black;
    text-decoration: none;
}
.class1{
    display: none;
}
.First{
    font-size: large;
}

.FirList {
    height: .75rem;
    padding-top: .2rem !important;
    background-color: #F8F8FA;
}

.ChaList{
    font-size: x-large;
    text-align: center;
    width: 100%;
    background-color: #F8F8FA;
}
.FirList:hover{
    background-color: darkgray;
}

.SecList {
    height: .6rem;
    display: flex;
    align-items: center;
    margin-top: .08rem;
    padding-left: .4rem;
    border-bottom: 1px solid #acacac;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.SecList:hover{
    background-color: darkgray;
}

.Problem{
    font-size: x-large;
   /* border-style: double;
    border-width: 2px;*/
    width: 80%;
   /* margin-top: 1%*/;
    height: 10rem;
    padding:.2rem;
    margin: .2rem;
    background-color: #ffffff;
    border-radius: 5px;
    /*float: left;*/
    background-image: url(../img/Independent.gif);
    background-repeat: no-repeat;
    background-size: 11rem 4rem;
    background-position: 3.24rem 6.5rem;
    background-color: #F8F8FA;
}

.content {
    display: flex;
    background-color: #EEEEEE;
    margin-left: 6px;
    margin-right: 6px;
}

.short{
    border-width: 2px;
   /* text-align: center;*/
    width: 53%;
    margin-left: 0.5%;
    height: 99%;
    margin-right: 0px;
    float: left;

}
.short p{

    width: 100%;
    border-style: inset;
    border-color: cyan;
    border-width: 3px;
    padding: 10px;
    margin-left: 4%;
    line-height: .64rem;
    margin-bottom: .2rem;
}
.Problem a{
    position: relative;
    left: 10%;
    top: 8%;
    text-decoration: none;
}

.AnswerS{
    float: right;
    margin-left: 3%;
    border-left-style: double;
    border-left-width: 2px;
    width: 40%;
    height: 100%;
    padding: 0px;
}

.AnswerS form{
    margin-top: 10px;
    margin-left: 20px;
}

.AnswerS h1{
    position: relative;
    top: 30%;
    left: 5%;
    font-size: 30px;
}

.AnswerS input{
    height: 100px;
    width: 90%;
    font-size: larger;
}

.AnswerS button{
    margin-top: 2%;
    height: 40px;
    width: 80px;
    border-style: outset;
    border-radius: 20px;
}

AnswerS div{
    border-style: solid;
    position: relative;
    top:8%
}

.AnswerS p{
    margin-left: 2%;
}
.AnswerC{
    float: right;
    margin-left: 3%;
    border-left-style: double;
    border-left-width: 2px;
    width: 40%;
    height: 100%;
    padding: 0px;
}

.AnswerC form{
    margin-top: 10px;
    padding: 0px;
}

.AnswerC h1{
    position: relative;
    top: 30%;
    left: .2rem;
    font-size: 30px;
}

.AnswerC input{
    height: .5rem;
    width: 20%;
    background-color: cyan;
    margin-right: 0px;
    margin-top: .2rem;
}
.AnswerC a{
    margin-top: .2rem;
    font-size: xx-large;
    margin-left: -15%;
    text-align: center;
    height: .6rem;
    width: 2rem;
    vertical-align: middle;
    display: inline-block;
    color: #000;
}
.btnsubmit{
    float: left;
    margin: .32rem 0 0 .4rem;
}
.An{
    border-radius: .4rem;
}
.AnswerC div{
    position: relative;
    top:12%
}

.AnswerC p{
    margin-left: 2%;
}

.jump_img{
    width:2.3rem;
    height:2.3rem;
    border-radius: 2.4rem;
    position: relative;
    top: 10%;
    left: 35%;
    background-color: darkorange;
}
.answer{
    height: .75rem;
    line-height: .75rem;
}