
.main ul{
     margin:auto;
    width: 99%;
    height: 100%;
    padding: 0px;
    border:0px solid #000;
}
.main li{
    list-style-type: none;
    float: left;
    width:14.2855%;
}

.main a{
    display: block;
    width: 100%;
    height: 50px;
    font-family: Microsoft Yahei;
    line-height: 50px;
    background-color: deepskyblue;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.main a:hover{
    background-color: paleturquoise;
    color: red;
}

.Log a{
        position:relative;
        left:5%;
        top:25px;
}
.Log a:hover{
    background-color:rgb(255,255,255);
}
.Log form{
    height:40%;
    margin_left:auto;
    padding:0px;
    text-align:right;
    float:right;
}
.Log img{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    float: right;
    margin-right: 10%;
}

.Total{
    float: left;
    width: 99%;
    margin-left: 0.5%;
    display: flex;
    background-image: url(../img/Independent.gif);
    background-repeat: no-repeat;
    background-size: 1110px 575px;
}
.Menu{
    height:550px;
    width:18%;
    float:left;
   /* margin-top:1.2%;
    margin-left:0.5%;
    margin-right:0px;*/
    padding:0px;
    /*border-style: solid;
    border-width: 2px;
    border-color: green;*/
    margin: 10px;
    background: #ffffff;
}

.Menu ul{
    border-radius: 2px;
    margin:auto;
    padding:0px;
    list-style: none;
    width:99%;
    text-align: left;
    overflow: hidden;
}
.Menu li{
    margin:auto;
    padding: 0px;
    list-style: none;
    /*border :1px solid black;*/
    width:100%;
    background-color: white;
    border-bottom: 1px solid #acacac;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Menu a{
    color: black;
    text-decoration: none;
}

.Menu .First {
    height: 40px !important;
}

.class1{
    display: none;
}
.First{
    font-size: 21px;
}
.ChaList{
    font-size: 28px;
    text-align: center;
    background-color: green;
    width: 100%;
}

.FirList {
    height: 40px;
    padding-top: 10px !important;
}

.FirList:hover{
    background-color: #54BCF8;
    color: #ffffff !important;
}

.SecList {
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 4px !important;
    padding-left: 20px !important;
    border-bottom: 1px solid #acacac;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.SecList:hover{
    background-color: #54BCF8 ;
    color: #ffffff !important;
}
.Know{
    height: 525px;
    width:60%;
    float:left;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    position: relative;
    padding: 10px;
}
.Know h1,h2{
   margin-bottom: .2rem;
   padding: 0px;
    font-size: 25px;
}
.Know p{
    margin: .2rem auto;
    padding: 5px;
    width:98%;
    border-style: inset;
    background-color: white;
    line-height: .64rem;
}

.UserPublish{
    background-image: url(../img/HomeBlack.gif);
    width: 20%;
    height: 550px;
    float: left;
   /* margin-top:1.2%;*/
    margin: 10px;
}

.ChoiceK{
    text-align: center;
    position: absolute;
    bottom: 120px;
    width: 100%;
}

.ChoiceK a{
    padding:0px;
    width:10%;
    height:8%;
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    text-align: center;/*字体居中*/
}