<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href=".\static\css\Admin_UserDefine.css">
    <script type="text/javascript" src=".\static\js\LikeOnclick.js"></script>
    <title>管理员增加练习题</title>
</head>
<body>
    {% if OptionType != 2 %}
    <div class="DisPublish">
        <h2>Student's Question List</h2>
        <table width=80% border='1'>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer Description</th>
                <th>Answer</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
            {% for Pub in PublishList %}
                <tr>
                    <td>{{ Pub.id }}</td>
                    <td>{{ Pub.Content }}</td>
                    <td>{{ Pub.AnswerDes}}</td>
                    <td>{{ Pub.Answer }}</td>
                    <td><a href="/Admin_UserDfine?PublishID={{ Pub.id }}&&OptionType=2">Moddify</a></td>
                    <td><a href="/Admin_UserDfine?PublishID={{ Pub.id }}&&OptionType=1">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <div class="Modify">
            <h2>Modify Post Question Data</h2>
            <a href="{{ url_for('Blu_AdminUserDefine.Admin_UserDfine') }}">Back</a>
            <form method="post">
                <p>Content:</p>
                <input type="text" placeholder="{{ PublishList.Content }}" name="Pcontent" required="required" value="{{ PublishList.Content }}">
                <p>Answer Describe:</p>
                <input type="text" placeholder="{{ PublishList.AnswerDes }}" name="Pdetail" required="required" value="{{ PublishList.AnswerDes }}">
                <p>Answer:</p>
                <input type="text" placeholder="{{ PublishList.Answer }}" name="Panswer" required="required" value="{{ PublishList.Answer }}">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    {% endif %}
</body>
</html>