<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/css/Admin_user.css">
    <title>Admin_user</title>
</head>
<body>
    {% if OptionType != 2 %}
    <div class="UserInfo">
        <h2>Student List</h2>
        <table width=80% border='1'>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
                {% for user in UserList %}
                    {% if user.role=='User' %}
                        <tr>
                            <td class="ID">{{ user.id }}</td>
                            <td class="Name">{{ user.name }}</td>
                            <td class="Email">{{ user.email }}</td>
                            <td class="Role">{{ user.role }}</td>
                            <td class="Modify1"><a href="/Admin_user?User_id={{ user.id }}&&OptionType=2">Modify</a></td>
                            <td class="Delete"><a href="/Admin_user?User_id={{ user.id }}&&OptionType=3">Delete</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
    </div>
    {% else %}
        <div class="Modify">
            <h2>Modify User Data</h2>
            <a href="{{ url_for('Blu_AdminUser.Admin_user') }}">Back</a>
            <form method="post">
                <p>User Name:</p>
                <input type="text" placeholder="{{ UserInfo.name }}" name="Name" required="required" value="{{ UserInfo.name }}">
                <p>Password:</p>
                <input type="text" placeholder="{{ UserInfo.pwd }}" name="Pwd" required="required" value="{{ UserInfo.pwd }}">
                <p>Email:</p>
                <input type="text" placeholder="{{ UserInfo.email }}" name="Email" required="required" value="{{ UserInfo.email }}">
                <p>Role:</p>
                <input type="text" placeholder="{{ UserInfo.role }}" name="Role" required="required" value="{{ UserInfo.role }}">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    {% endif %}
</body>
</html>