<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/css/Admin_Practice.css">
    <title>练习题管理</title>
</head>
<body>
    {% if OptionType == 2 %}
        <div class="Modify">
            <h2>Modify Practice Data</h2>
            <a href="{{ url_for('Blu_AdminPractice.Admin_Practice') }}">Back</a>
            <form method="post">
                <p>ID:</p><input type="text" placeholder="" name="Id" value="{{ PublishList.id }}">
                <p>Type:</p><input type="text" placeholder="Choice or ShortAnswer" name="Type" required="required" value="{{ PublishList.Type }}">
                <p>Content:</p><input type="text" placeholder="" name="Content" required="required" value="{{ PublishList.Content }}">
                <p>Option:</p><input type="text" placeholder="Each option is separated by a comma" name="Option" required="required" value="{{ PublishList.Option }}">
                <p>Answer:</p><input type="text" placeholder="" name="Answer" required="required" value="{{ PublishList.Answer }}">
                <p>Answer Detail:</p><input type="text" placeholder="" name="AnswerDes" required="required" value="{{ PublishList.AnswerDes }}">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    {% else %}
        <div class="DisPublish">
            <h2>Practice List</h2>
            <table width=80% border='1'>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Exercise</th>
                    <th>Option</th>
                    <th>Answer Description</th>
                    <th>Answer</th>
                    <th>Delete</th>
                    <th>Modify</th>
                </tr>
                {% for Pub in PublishList %}
                    <tr>
                        <td class="ID">{{ Pub.id }}</td>
                        <td class="Type">{{ Pub.Type }}</td>
                        <td class="Content">{{ Pub.Content }}</td>
                        <td class="Option">{{ Pub.Option }}</td>
                        <td class="AnswerDes">{{ Pub.AnswerDes}}</td>
                        <td class="Answer">{{ Pub.Answer }}</td>
                        <td><a href="/Admin_Practice?ModifyID={{ Pub.id }}&&OptionType=2">Modify</a></td>
                        <td><a href="/Admin_Practice?DeleteID={{ Pub.id }}&&OptionType=1">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="Define">
            <h2>Add Exercises</h2>
            <form method="post">
                <p>First Level Directory:</p>
                <input type="text" placeholder="" name="FirstDire">
                <p>Secondary Level Directory:</p>
                <input type="text" placeholder="" name="SecondDire">
                <p>Exercise:</p>
                <input type="text" placeholder="" name="Content">
                <p>Exercise Type:</p>
                <input type="text" placeholder="Choice or ShortAnswer" name="Type">
                <p>Option(Choice Question:)</p>
                <input type="text" placeholder="Each option is separated by a comma" name="Option">
                <p>Answer Description:</p>
                <input type="text" placeholder=" " name="Detail">
                <p>Answer:</p>
                <input type="text" placeholder="" name="Answer">
                <a href=""><button type="submit">Submit</button></a>
            </form>
        </div>
    {% endif %}
</body>
</html>