<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/css/Admin_Knowledge.css">
    <title>知识点管理</title>
</head>
<body>
    {% if OptionType == 1 %}
    <div class="UserInfo">
        <h2>Chapter List</h2>
        <table width=80% border='1'>
                <tr>
                    <th>ID</th>
                    <th>Chapter</th>
                    <th>First Level Directory</th>
                    <th>Second Level Directory</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
                {% for cha in ChapterList %}
                    <tr>
                        <td class="ID">{{ cha.id }}</td>
                        <td class="ChapterName">{{ cha.FisrtDirectory }}.{{ cha.SecondDirectory }}</td>
                        <td class="ChapterF">{{ cha.FirstDirectoryName }}</td>
                        <td class="ChapterS">{{ cha.SecondDirectoryName }}</td>
                        <td class="Modify1"><a href="/Admin_Knowledge?KnowID={{ cha.id }}&&OptionType=2">Modify</a></td>
                        <td class="Delete"><a href="/Admin_Knowledge?KnowID={{ cha.id }}&&OptionType=3">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        <h2>Example List</h2>
        <table width=80% border='1'>
                <tr>
                    <th>ID</th>
                    <th>Example</th>
                    <th>Solution</th>
                    <th>Chapter ID</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
                {% for kno in KnowledgeList %}
                    <tr>
                        <td class="ID">{{ kno.id }}</td>
                        <td class="Example">{{ kno.Example }}</td>
                        <td class="Solution">{{ kno.Solution }}</td>
                        <td class="ChaID">{{ kno.ChaID }}</td>
                        <td class="Modify1"><a href="/Admin_Knowledge?KnowID={{ kno.id }}&&OptionType=4">Modify</a></td>
                        <td class="Delete"><a href="/Admin_Knowledge?KnowID={{ kno.id }}&&OptionType=5">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
    </div>
    <div class="ChapterAdd">
        <h2>Add Chapter</h2>
        <form method="post">
            <p>Type:</p>
            <input type="text" name="Type" readonly="readonly" required="required" value="Chapter">
            <p>First Level Directory:</p>
            <input type="text" placeholder="" name="FirstNum" required="required">
            <p>Name of First Level Directory:</p>
            <input type="text" placeholder="" name="Firstname" required="required">
            <p>Second Level Directory:</p>
            <input type="text" placeholder="" name="SecondNum" required="required">
            <p>Name of Second Level Directory:</p>
            <input type="text" placeholder="" name="Secondname" required="required">
            <button type="submit" value="Submit">Submit</button>
        </form>
        <h2>Add Example</h2>
        <form method="post">
            <p>Type:</p>
            <input type="text" name="Type" readonly="readonly" required="required" value="Knowledge">
            <p>Example:</p>
            <input type="text" placeholder="" name="Iexaplem" required="required">
            <p>Solution:</p>
            <input type="text" placeholder="" name="Isolution" required="required">
            <p>Chapte ID:</p>
            <input type="text" placeholder="" name="Ichapterid" required="required">
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
    {% elif OptionType == 2 %}
        <div class="Modify">
            <h2>Modify Chapter Data</h2>
            <a href="{{ url_for('Blu_AdminKnowledge.Admin_Knowledge') }}">Back</a>
            <form method="post">
                <p>Chapter ID:</p>
                <input type="text" placeholder="" name="ID" required="required" value="{{ ChapterList.id }}">
                <p>First Level Directory:</p>
                <input type="text" placeholder="" name="Fname" required="required" value="{{ ChapterList.FirstDirectoryName }}">
                <p>Second Level Directory:</p>
                <input type="text" placeholder="" name="Sname" required="required" value="{{ ChapterList.SecondDirectoryName }}">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    {% elif OptionType == 3 %}
        <div class="Modify">
            <h2>Modify Example Data</h2>
            <a href="{{ url_for('Blu_AdminKnowledge.Admin_Knowledge') }}">Back</a>
            <form method="post">
                <p>Example ID:</p>
                <input type="text" placeholder="" name="ID" required="required" value="{{ KnowledgeList.id }}">
                <p>Example:</p>
                <input type="text" placeholder="" name="Example" required="required" value="{{ KnowledgeList.Example }}">
                <p>Solution:</p>
                <input type="text" placeholder="" name="Solution" required="required" value="{{ KnowledgeList.Solution }}">
                <p>Associated Chapter ID:</p>
                <input type="text" placeholder="" name="ChaID" required="required" value="{{ KnowledgeList.ChaID }}">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    {% endif %}
</body>
</html>