<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/css/Admin_Quizzes.css">
    <title>Quizzes</title>
</head>
<body>
    {% if OptionType != 2 %}
    <div class="QuizzesInfo">
        <h2>Quizzes List</h2>
        <table width=80% border='1'>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Answer</th>
                    <th>Level</th>
                    <th>Modify</th>
                    <th>Delete</th>
                </tr>
                {% for pro in ProblemList %}
                    <tr>
                        <td class="ID">{{ pro.id }}</td>
                        <td class="QContent">{{ pro.Content }}</td>
                        <td class="QAnswer">{{ pro.Answer }}</td>
                        <td class="QLevel">{{ pro.Quizzes }}</td>
                        <td class="Modify1"><a href="/Admin_Quizzes?QuizzesID={{ pro.id }}&&OptionType=2">Modify</a></td>
                        <td class="Delete"><a href="/Admin_Quizzes?QuizzesID={{ pro.id }}&&OptionType=1">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <h2>Add Quizzes</h2>
                <form method ="post">
                    <p>Content:</p>
                    <input type="text" placeholder="Input Question" name="Rcontent" required="required">
                    <p>Answer:</p>
                    <input type="text" placeholder="Input Answer" name="Ranswer" required="required">
                    <p>Level:</p>
                    <input type="text" placeholder="Input Level" name="Rlevel" required="required">
                    <button type="submit" value="Submit">Submit</button>
                </form>
            </div>
    </div>
    {% else %}
        <div class="Modify">
            <h2>Modify Quizzes Data</h2>
            <a href="{{ url_for('Blu_AdminQuizzes.Admin_Quizzes') }}">Back</a>
            <form method="post">
                <p>Content:</p>
                <input type="text" placeholder="{{ ProblemList.Content }}" name="Qcontent" required="required" value="{{ ProblemList.Content }}">
                <p>Answer:</p>
                <input type="text" placeholder="{{ ProblemList.Answer }}" name="Qanswer" required="required" value="{{ ProblemList.Answer }}">
                <p>Level:</p>
                <input type="text" placeholder="{{ ProblemList.Quizzes }}" name="Qlevel" required="required" value="{{ ProblemList.Quizzes }}">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    {% endif %}
</body>
</html>