<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/css/Administration.css">
    <title>Administration</title>
</head>
<body>
    <div class="OnePage">
        <h2>Welcome to the Teacher's Classroom</h2>
        <a href="{{ url_for('Blu_user.Home') }}">Logout</a>
    </div>
    <div class="ListOption">
        <ul>
            <li>
                <a href="/Administration?OptionID=1">Student Management</a>
            </li>
            <li>
                <a href="/Administration?OptionID=2">Knowledge Base Management</a>
            </li>
            <li>
                <a href="/Administration?OptionID=3">Practice Management</a>
            </li>
            <li>
                <a href="/Administration?OptionID=4">Discussion Management</a>
            </li>
            <li>
                <a href="/Administration?OptionID=6">Quizzes Management</a>
            </li>
            <li>
                <a href="/Administration?OptionID=5">Post Questions Management</a>
            </li>
        </ul>
    </div>
    <div class="OptionPage">
        {% if OptionID == 1 %}
            <iframe src={{url_for('Blu_AdminUser.Admin_user')}}>
            </iframe>
        {% elif OptionID == 2 %}
            <iframe src="{{ url_for('Blu_AdminKnowledge.Admin_Knowledge') }}">

            </iframe>
        {% elif OptionID == 3 %}
            <iframe src="{{ url_for('Blu_AdminPractice.Admin_Practice') }}">

            </iframe>
        {% elif OptionID == 4 %}
            <iframe src="{{ url_for('Blu_AdminDiscuss.Admin_Discuss') }}">

            </iframe>
        {% elif OptionID == 5 %}
            <iframe src={{url_for('Blu_AdminUserDefine.Admin_UserDfine')}}>
            </iframe>
         {% elif OptionID == 6 %}
            <iframe src={{url_for('Blu_AdminQuizzes.Admin_Quizzes')}}>
            </iframe>
        {% endif %}
    </div>
</body>
</html>