<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/css/Admin_Discuss.css">
    <script type="text/javascript" src="./static/js/LikeOnclick.js"></script>
    <title>评论区管理</title>
</head>
<body>
    <div class="comment-wrap">
            {% for dis in HTML_DiscussList %}
                <div class="EachContent">
                    <div class="DisPlay">
                        <div class="photo">
                            <a href="#"><img alt="" src={{ dis.DiscussInfo.photo }}>&nbsp&nbsp&nbspName:{{ dis.DiscussInfo.name }}</a>
                        </div>
                        <div class="content">
                            <div>
                                <p class="comment-text">{{ dis.Content }}</p>
                            </div>
                            <div>
                                <li class="Like"><a href="/Admin_Discuss?DiscussID={{ dis.id }}">Delete</a></li>
                                <li class="Like"><a href="/Admin_Discuss?Shrinkstatus={{ ShrinkStatus }}&&DisID={{ dis.id }}">Detail</a></li>
                            </div>
                        </div>
                    </div>
                    {% if ShrinkStatus == 1 %}
                        {% for re in dis.ReplyRelationship %}
                            {% if DisID == dis.id %}
                                <div class="DisReply">
                                    <a href="#"><img alt="" src={{ re.ReplyInfo.photo}}>&nbsp&nbsp&nbspName:{{ re.ReplyInfo.name}}</a>
                                    <p>{{ re.Content }}</p>
                                    <li class="Like"><a href="/Admin_Discuss?RepleyID={{ re.id }}">Delete</a></li>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
            {% endfor %}
        </div>
</body>
</html>