<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href=".\static\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/reset.css">
    <link type="text/css" rel="stylesheet" href=".\static\css\Discuss.css">
    <script type="text/javascript" src=".\static\js\LikeOnclick.js"></script>
    <title>讨论</title>
</head>
<body>
    <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main">
		<ul>
			<li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href="{{ url_for('Blu_Quizzes.Quizzes')}}">Quizzes</a></li>
			<li><a href="{{ url_for('Blu_Discuss.Discuss')}}">Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>
    <div class="comments">
        <div class="comment-block">
                <form action="" class="form">
                    <textarea name="PubContent" id="" cols="30" rows="3" placeholder="Say somthing..."></textarea>
                    <button class="btn btn-success btnsubmit" type="submit" value="Submit" style="float: right;margin: 0 .2rem .1rem 0">Submit</button>
                </form>
        </div>
        <div class="comment-wrap">
            {% for dis in HTML_DiscussList %}
                <div class="EachContent">
                    <div class="DisPlay">
                        <div class="photo">
                            <a href="#"><img alt="" src={{ dis.DiscussInfo.photo }}>&nbsp&nbsp&nbspName:{{ dis.DiscussInfo.name }}</a>
                        </div>
                        <div class="content">
                            <p class="comment-text">{{ dis.Content }}</p>
                            <div>
                                <a href="/Discuss?LikesResid={{ dis.userID }}">Like</a><img src="./static/img/Likes.gif">
                                <a href="/Discuss?ReplayID={{ dis.id }}">Detail</a>
                            </div>

                        </div>
                    </div>
                    {% if ReplayID == dis.id %}
                        {% for re in dis.ReplyRelationship %}
                            <div class="DisReply">
                                <a href="#"><img alt="" src={{ re.ReplyInfo.photo}}>&nbsp&nbsp&nbspName:{{ re.ReplyInfo.name}}</a>
                                <p>{{ re.Content }}</p>
                                <div>
                                    <a href="/Discuss?LikesResid={{ re.ReUserID }}">Like</a><img src="./static/img/Likes.gif">
                                </div>
                            </div>
                        {% endfor %}
                        <form>
                            <input type="text" name="ReplyContent" placeholder="Input">
                            <input name="Submit" type="submit" value="{{ dis.id }}" placeholder="Submit" class="reBut">
                        </form>
                    {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
    <div id="div1" class="PageSec">
    <a href="#" class="PageBut">Last</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="PageBut">Next</a>
    </div>
</body>
</html>