<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href=".\static\bootstrap\css\bootstrap.min.css">
     <link rel="stylesheet" href="./static/css/reset.css">
    <link type="text/css" rel="stylesheet" href=".\static\css\Emigrated.css">
    <script type="text/javascript" src=".\static\js\LikeOnclick.js"></script>
    <script type="text/javascript" src=".\static\js\jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src=".\static\bootstrap\js\bootstrap.min.js"></script>
    <title>闯关</title>
</head>
<body>
     <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main" style="margin-top: .05rem">
		<ul>
		    <li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href='{{ url_for('Blu_Quizzes.Quizzes')}}'>Quizzes</a></li>
			<li><a href='{{ url_for('Blu_Discuss.Discuss')}}'>Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>
    <div class="DisPlayArea">
        <div class="InfoDis jumbotron">
            <h2>Game Rules:</h2>
            <p style="font-size: 17px">You need to spend different amounts of game coins to unlock the quiz set on the right. </br>The exercise here are more challenging than the Practice Page and each question is worth more game coins according to their difficulty level, so you have a chance to get more game coins by answering them correctly. </br>Once unlocked, the question bank will randomly generate 10 exercises each time.</p>
            <h2></h2>
            <h2></h2>
            <h2></h2>
        </div>
        <div class="Test">
            {% for qui in QuizzesList %}
                <div class="Level1">
                    {% if LockStatus[qui.id - 1] == 1 %}
                        <a href="/Quizzes?QuizzesID={{ qui.id }}"><img class="unlock" src=".\static\img\unlock.png"></a>
                        {% if qui.id == 1 %}
                            <div class="levelName">Simple</div>
                        {% elif qui.id == 2 %}
                            <div class="levelName">Medium</div>
                        {% else %}
                            <div class="levelName">Difficult</div>
                        {% endif %}
                    {% else %}
                        <a onclick="MsgStatus({{ qui.id }})"><img src=".\static\img\lock.png"></a>
                        {% if qui.id == 1 %}
                            <div class="levelName">Simple</div>
                        {% elif qui.id == 2 %}
                            <div class="levelName">Medium</div>
                        {% else %}
                            <div class="levelName">Difficult</div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <p>{{ CosMsg }}</p>
            <img style="width: 100%;position: absolute;top: 100px; right: 235px" src="./static/img/Independent.gif">
        </div>
        <div class="Subject">
            {% if LockStatus[QuizzesID-1] == 1 %}
            <div class="jumbotron" style="margin: 5px"><p class="tim-text">{{ QuestionList[QuestionNumber-1].Content }}</p></div>
             <form method="post">
                 <input type="text" placeholder="Please input your answer" name="QuiAnswer" required="required">
                 <button class="btn btn-success btnsubmit" type="submit" value="Submit">Submit</button>
             </form>
            {% if msg == 'Correct' %}
                <img src="static/img/Smile.png">
            {% elif msg == 'Error' %}
                <img src="static/img/Cry.png">
            {% endif %}
            <div>
                <a href="/Quizzes?QuizzesID={{ QuizzesID }}">Last |</a>
                <a href="/Quizzes?QuizzesID={{ QuizzesID }}">| Next</a>
            </div>
            {% else %}
            <p class="jumbotron" style="background-color: #ffffff;font-size: 40px">Unlock it. Go!</p>
            {% endif %}
        </div>
    </div>
    <script language="JavaScript">
        function MsgStatus(status) {
            var res;
            switch (status) {
                case 1:
                    res = confirm('Simple set:\n' +
                    '5 game coins to play\n' +
                    'Earn 3 game coins when answer one question correctly\n'+
                        '\n'+
                        '\n'+
                        'Confirm to play?');
                    break;
                case 2:
                    res = confirm('Medium set:\n' +
                    '10 game coins to play\n' +
                    'Earn 5 game coins when answer one question correctly\n'+
                        '\n'+
                        '\n'+
                        'Confirm to play?');
                    break;
                case 3:
                    res = confirm('Difficult set:\n' +
                        '15 game coins to play\n' +
                        'Earn 10 game coins when answer one question correctly\n'+
                        '\n'+
                        '\n'+
                        'Confirm to play?');
                    break;
            }

            if(res==true)
                location.href = '/Quizzes?QuizzesLockStatus='+status+'&QuizzesID='+status;
            else
                location.href = '/Quizzes';
        }
    </script>
</body>
</html>