<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href=".\static\bootstrap\css\bootstrap.min.css">
      <link rel="stylesheet" href="./static/css/reset.css">
     <link type="text/css" rel="stylesheet" href=".\static\css\Error.css">
    <script type="text/javascript" src=".\static\js\LikeOnclick.js"></script>
    <script type="text/javascript" src=".\static\js\jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src=".\static\bootstrap\js\bootstrap.min.js"></script>
    <title>错题集</title>
</head>
<body>
    <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main">
		<ul>
			<li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href="{{ url_for('Blu_Quizzes.Quizzes')}}">Quizzes</a></li>
			<li><a href="{{ url_for('Blu_Discuss.Discuss')}}">Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>
    <div>
        <div class="ti_info page-header" style="padding-bottom: 0; margin: 50px 0px 20px 7px">
            <h1>
                <b style="font-size: 25px">Here is your wrong question set</b>
                <small style="display: block; margin-top: 5px; font-size: 20px">Total question:{{ Error_count }}</small>
            </h1>
        </div>
        <div class="ti_det panel panel-default" style="margin-bottom: 0;font-size: 17px">
            <table class="table table-bordered">
                <tr>
                    <th style="text-align: center">Serial number</th>
                    <th style="text-align: center">Question</th>
                    <th style="text-align: center">Last Completion Time</th>
                    <th style="text-align: center">Option</th>
                </tr>
                {% for err in range(Error_count) %}
                    <tr>
                        <td class="number">{{ Error_list[err][0] }}</td>
                        <td class="test"><a href="/Error?Errir_id={{ Error_list[err][0] }}">{{ Error_list[err][1] }}</a></td>
                        <td class="time">{{ Error_list[err][2] }}</td>
                        <td class="count"><a href="/Practice?Practice_id={{ Error_list[err][3] }}">Try again</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="page-header" style="margin: 0 0 0 5px; padding: 0">
        <h1 style="margin: 0"><small style="font-size: 20px">Explain in Detail</small></h1>
    </div>
    <div class="Detail">
        <p class="navbar-text" style="font-size: 17px">{{ Error_list[Err_id-1][1] }}</p>
        <input type="button" class="btn btn-success" value="More" onclick="MsgBox()">
    </div>
    <div id="Er_id" class="ErDisNone" style="font-size: 17px">
        <p>{{ Error_list[Err_id-1][4] }}</p>
    </div>
    <script language="JavaScript">
        function MsgBox() {
            var box= document.querySelector('#Er_id');
            if(box.className == 'ErDisNone')
                box.className='ErDis'
            else
                box.className='ErDisNone'
        }
    </script>
</body>
</html>
