<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-sacle="1.0">
      <link rel="stylesheet" href="./static/css/reset.css">
    <script type="text/javascript" src="./static/js/LikeOnclick.js"></script>
    <style>
.headerInfo{
    background-image: url("/static/img/Info.gif");
    background-size: 100% 100%;
    height:100px;
    width:100%;
    margin:auto;
    padding-top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.logo{
    height: auto;
    width: 3.5rem;
    position: absolute;
    left: 0;
    top: 0;
}
.infoLog img{
    width: 1rem;
    border-radius: 100%;
    margin-bottom: .2rem;
}
Log a{
        position:relative;
        left:5%;
        top:25px;
}
.Log a:hover{
    background-color:rgb(255,255,255);
}
.Log form{
    height:40%;
    margin_left:auto;
    padding:0px;
    text-align:right;
    float:right;
}
.Log img{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    float: right;
    margin-right: 10%;
}
.headerInfo li{
    width: 11%;
    text-align: center;
    font-size: 20px;
    list-style: none;
}
.headerInfo h4{
    text-align: center;
    margin-bottom: .2rem;
    font-size: .40rem;

}
.headerInfo p{
    font-size: .36rem;
    text-align: center;
    text-overflow:ellipsis;
    margin: 0px;
}

.Likes img{
    height: .55rem;
    width: .55rem;
    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    top: 48px;
    margin-left: 3px;
}

.Logout{
   margin-left: .6rem;
    font-size: .4rem;
    font-weight: bold;
}
.Remark{
    padding: 0px;
}

.Remark p{
    width: 100%;
    margin-left: 0px;
}
    </style>
</head>
<body>
  <div class="headerInfo">
        {% if UserInfo.role == 'Admin' %}
        <div class="Teacher">
            <a href="/Administration" target="_parent" style="font-size:.4rem;color: rgb(106,90,205);text-decoration: underline;">Teacher's Classroom</a>
        </div>
        {% endif %}
         <img class="logo" src="./static/img/logo.png">
        <li class="Exercises" title="This is the total number of exercises you've done from Practice page and Quizzes page so far.">
            <h4>Exercises:</h4>
            <p>{{ UserDataInfo.Exercises }}</p>
        </li>
        <li class="Accuracy" title="This is the accuracy of your whole exercises.">
            <h4>Accuracy:</h4>
            <p>{{ UserDataInfo.Accuracy }}%</p>
        </li>
        <li class="Likes" title="This is the number of Likes you get from Discussion page, they can be exchanged to more game coins by click +.">
            <h4>Likes:</h4>
            <p>{{ UserDataInfo.Likes }}<img src="./static/img/Likes.gif"></p>
        </li>
        <li class="Likes" title="Answer correctly: a exercise=a game coin(Practice page); a exercise=more game coins(Quizzes page)">
            <h4>Game Coins:<a onclick="Convert()">+</a></h4>
            <p>{{ UserDataInfo.Gold }}<img src="./static/img/coins.png"></p>
        </li>
        {% if UserInfo.role == 'User' %}
            <li class="Likes" title="Your ranking based on the number of game coins. The top five users will be commended on the homepage">
                <h4>Ranking:</h4>
                {% if RankStatus==1 %}
                    <p>Top&nbsp50%</p>
                {% else %}
                    <p>Below&nbsp50%</p>
                {% endif %}
            </li>
            <li class="Remark" title="If your current ranking is Below 50%, it remind you how many game coins you need to enter Top 50%.">
                <h4>Remark:</h4>
                {% if RankStatus==1 %}
                    <p>{{ 0 }} Game Coins</p>
                {% else %}
                     <p>{{ RankValue }} Game Coins</p>
                {% endif %}

            </li>
        {% endif %}
        <div class="Logout">
             <div class="infoLog">
            <!-- <a href='{{ url_for('Blu_user.Login') }}'>Login</a> -->
            <a href="{{ url_for('Blu_Personal.Personal') }} " target="_parent"><img src={{ UserInfo.photo }}></a>
        </div>
            <a href='/Home?Singout=1' target="_parent">Sign Out</a>
        </div>
    </div>
</body>
</html>