<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="shortcut icon" href="./static/img/user/favicon.ico" type="image/x-icon">
      <link type="text/css" rel="stylesheet" href=".\static\bootstrap\css\bootstrap.min.css">
       <link rel="stylesheet" href="./static/css/reset.css">
    <link type="text/css" rel="stylesheet" href=".\static\css\Home.css">
    <script type="text/javascript" src=".\static\js\LikeOnclick.js"></script>
    <title>首页</title>
</head>
<body>
    <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main">
		<ul>
			<li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href="{{ url_for('Blu_Quizzes.Quizzes')}}">Quizzes</a></li>
			<li><a href="{{ url_for('Blu_Discuss.Discuss')}}">Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>
    <div class="show">
        <div>
            {% if RankStatus==1 %}
            {% else %}
                <p></p>
            {% endif %}
            <h2>Game Coins Rank:</h2>
            <ul>
                {% for i in range(5) %}
                    <li>
                        <h4> &nbsp&nbsp&nbsp&nbsp Rank{{ i + 1 }}:&nbsp&nbsp{{ RandList[i][2] }}&nbsp&nbsp&nbsp&nbsp{{ RandList[i][1] }}</h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="bottom">
        <h1>Welcome to Learn foundation mathematics of Computer Science</h1>
        <h3>Through this application with high-quality resources, you can learn and discover the mystery of mathematics</h3>
    </div>
</body>
</html>