<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href=".\static\bootstrap\css\bootstrap.min.css">
     <link rel="stylesheet" href="./static/css/reset.css">
     <link type="text/css" rel="stylesheet" href="./static/css/Independent.css">
    <script type="text/javascript" src=".\static\js\jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src=".\static\bootstrap\js\bootstrap.min.js"></script>
    <title>自主提交界面</title>
</head>
<body>
      <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main">
		<ul>
			<li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href="{{ url_for('Blu_Quizzes.Quizzes')}}">Quizzes</a></li>
			<li><a href="{{ url_for('Blu_Discuss.Discuss')}}">Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>

    <!-- ChoicePro  <a href="/Independent?ChoType=1">Question（≥50 likes ）will be included in student question bank. GO!!</a> -->
    <div class="alert alert-info" style="text-align: center;font-size: 20px">
        Rules: Question（≥50 likes ）will be included in student question bank.
    </div>
    {% if ChoType == 1 %}
        <button class="btn btn-success" onclick="gotonprve()" style="position: absolute;top: 153px;right: 8px">Go to  student question bank</button>
        <div class="page-header" style="margin: 0;display: flex; align-items: center;">
            <h1 style="font-size: .64rem;color: #000">Post Questions</h1>
            <div class="input-group" style="height: 34px; width: 300px; margin-left: 5.5rem">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
       <div  class="bgmain" style="display: inline-block; width: 60%; float: left ">
            <div style="display: flex; flex-direction: column; align-items: flex-end;  ">
                <div class="Question" style="display: inline-block">
                    <ol style="font-size: 17px">
                    {% for inde in IndependList %}
                        <li class="well">
                            {% for us in AllUserList %}
                                {% if us.id == inde.UserID %}
                                <p style="font-weight: bold;color: #DCBB49; font-size: 25px;" >User Name:{{ us.name }}</p>
                                {% endif %}
                            {% endfor %}
                            <p>Question:&nbsp&nbsp&nbsp{{ inde.Content }}</p>
                            <a href="/Independent?OptionType=1&&Likes={{ inde.id }}"><img src="./static/img/Likes.gif">{{ inde.Like }}</a>
                        </li>
                    {% endfor %}
                    </ol>
                </div>

                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
        </div>
        </div>
        <div class="AddQuestion well">
            <h3>Post a question</h3>
            <p style="padding: .3rem 0;">Question:</p>
            <form method="post" style="display: flex; margin: 5px">
                <input required="required" name="Question" placeholder="Input your question">
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>

    {% else %}
        <button class="btn btn-success" onclick="gotonext()" style="position: absolute;top: 153px;right: 8px">Go to post</button>
        <div class="page-header" style="margin: 0;display: flex; align-items: center;">
            <h1 style="font-size: .64rem;color: #000;">Student Question Bank</h1>
            <div class="input-group" style="height: 34px; width: 300px; margin-left: 3.2rem;">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    <div style="display: flex">
        <div style="display: flex; flex-direction: column; width: 60%; align-items: end;">
            <div class="Question">
                <ol style="font-size: 17px">
                    {% for inde in IndependList %}
                        <li class="well">
                            {% for us in AllUserList %}
                                {% if us.id == inde.UserID %}
                                    <p style="font-weight: bold;color: #DCBB49; font-size: 25px;">Post by:{{ us.name }}</p>
                                {% endif %}
                            {% endfor %}
                            <p>Question:&nbsp&nbsp&nbsp{{ inde.Content }}</p>

                            <a href="/Independent?OptionType=2&&QuestionID={{ inde.id }}"> Do </a>
                            {% if UserInfo.role == 'Admin' %}
                                <a href="/Independent?OptionType=4&&QuestionID={{ inde.id }}"> Modify</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
        <div class="OptionQuestion">
        {% if OptionType == 2 %}
            <div class="DoQuestion well" style="font-size: 17px">
                <p>Question:{{ QuestionInfo.Content }}</p>
                <form method="post" style="display: flex">
                    <input placeholder="Input your answer" class="form-control" name="Qanswer" required="required">
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
                {% if Result == 'Correct' %}
                <img src="static/img/Smile.png">
                {% elif Result == 'Wrong' %}
                <img src="static/img/Cry.png">
                {% endif %}
                <div>
                    {% if Result == 'Wrong' %}
                        <p style="font-weight: bold; font-size: 26px;color: #74b466;">Answer:{{ QuestionInfo.Answer }}</p>
                    {% endif %}
                </div>
            </div>
        {% elif OptionType == 4 %}
            <div class="ModifyQuestion" style="font-size: 17px">
                <form method="post">
                    <p>Question:</p>
                    <input required="required" name="Question" placeholder="Input your question" value="{{ QuestionInfo.Content }}">
                    <p>Answer:</p>
                    <input name="Answer" value="{{ QuestionInfo.Answer }}">
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% else %}
        {% endif %}
    </div>
     </div>
    {% endif %}
<script>
    function gotonext() {
        window.location.href = "/Independent?ChoType=1";
    }

    function gotonprve() {
        window.location.href = "/Independent?ChoType=0";
    }

</script>
</body>
</html>