<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href=".\static\css\Login.css">
    <title>登录</title>
</head>
<body>
    <div class="Bg">
        <img src="./static/img/user/bgschool1.jpg">
    </div>
    <div class="loginn">
        <img src="./static/img/user/logo.png">
        <br>
        <br>
        <br>
        <form method="post">
            <table class="LOGB" cellspacing="0">
                <tr>
                    <td>Username:</td>
                    <td><input type="text"  placeholder="Create User Name" class="input2" name="username"></td>
                </tr>

            </table>
            <br>
           <table class="LOGB"  cellspacing="0" >
                <tr>
                    <td>Password:</td>
                    <td><input type="password" placeholder="Create Password" class="input2" name="password"></td>
                </tr>
            </table>
            <br>
            <div class="LOGD">
                <a href=""><button class="LOGD" >Login</button></a>{{msg}}
            </div>
            <br>
            <div class="LOGE">
                <p>Cannot log in?<a href="{{url_for('Blu_user.Register')}}">Sign up for an account!</a></p>
            </div>
        </form>

    </div>
</body>
</html>