<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href=".\static\css\Personal.css">
    <script type="text/javascript" src=".\static\js\LikeOnclick.js"></script>
    <title>个人中心</title>
</head>
<body>
    <div class="PerInfo">
        <ul>
            <a onclick="HeadChange()"><img src={{ UserInfo.photo }}></a>
            <h2>Username:{{ UserInfo.name }}</h2>
        </ul>

    </div>
    <div class="AboutMe">
        <ul>
            <li><a>Exercises:{{ UserData.Exercises }}</a></li>
            <li><a>Like:{{ UserData.Likes }}</a></li>
            <li><a>Game Coins:{{ UserData.Gold }}</a></li>
            <li><a href="/Personal?DisplayInfo=1">My Question</a></li>
            <li><a href="/Personal?DisplayInfo=2">My Reply</a></li>
            {% if UserInfo.role == 'Admin' %}
                <!--<li><a href="/Administration">Teacher's Classroom</a></li> -->
            {% else %}
                <!-- <li><a href="/UserPractice"></a></li> -->
            {% endif %}
        </ul>
    </div>
    <div class="PerData">
        {% if DisplayType == 1 %}
            {% for dis in DisplayInfo %}
                <div class="EachContent">
                    <div class="DisPlay">
                        <div class="content">
                            <p class="comment-text">{{ dis.DiscussInfo.name }}.{{ dis.Content }}</p>
                        </div>
                    </div>
                    {% for re in dis.ReplyRelationship %}
                        <div class="DisReply">
                            <a href="#">{{ re.ReplyInfo.name}}:&nbsp&nbsp&nbsp</a>
                            <p>{{ re.Content }}</p>
                        </div>
                    {% endfor %}
            </div>
            {% endfor %}
        {% elif DisplayType == 2 %}
            {% for dis in DisplayInfo %}
                <div class="EachContent">
                    <div class="DisPlay">
                        <div class="content">
                            <p class="comment-text">{{dis.Dis.DiscussInfo.name}}:{{ dis.Dis.Content }}</p>
                        </div>
                    </div>
                    {% for re in DisplayInfo %}
                        {% if re.DiscussID == dis.DiscussID %}
                            <div class="DisReply">
                                <a href="#">{{ re.ReplyInfo.name}}:&nbsp&nbsp&nbsp</a>
                                <p>{{ re.Content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
            {% endfor %}
        {% elif DisplayType == 3 %}

        {% endif %}
    </div>
    <script language="JavaScript">
        function HeadChange() {
            var res;

            res = confirm('是否要更换头像')
            if(res==true)
            {
                location.href = '/Personal?HeadChange=1'
            }
            else
            {
                location.href = '/Personal'
            }
        }
    </script>
</body>
</html>