<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link type="text/css" rel="stylesheet" href=".\static\bootstrap\css\bootstrap.min.css">
      <link rel="stylesheet" href="./static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="./static/css/Practice.css">
    <script type="text/javascript" src="./static/js/LikeOnclick.js"></script>
    <title>练习区</title>

</head>
<body>
    <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main" style="margin-top: .05rem">
		<ul>
			<li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href="{{ url_for('Blu_Quizzes.Quizzes')}}">Quizzes</a></li>
			<li><a href="{{ url_for('Blu_Discuss.Discuss')}}">Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>
    <div class="content">
        <div class="Menu">
        <ul id='Chapter'>
 				<li class="ChaList"><a  onclick="javascript:Foo(); return false;" href="#">Table of Contents</a>
 				</li>
                {% for one in range(1,FirstDreCount + 1) %}
                    <li class="FirList"><a href="/Practice?ChoiceID={{ one }}" class="First">{{ one }} {{ SecDre[one-1] }}</a></li>
                    {% for chap in chapter %}
                        {% if (one==chap.FisrtDirectory) and (ChoiceID == one) %}
                            <ul class="SecList"><a href="/Practice?Problem_id={{ chap.id }}" >{{ one }}.{{ chap.SecondDirectory }} {{ chap.SecondDirectoryName }}</a></ul>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </ul>
            <img style="width: 100%;position: absolute;bottom: 15px; right: 7px; z-index: 1; transform: scaleX(-1)" src="./static/img/Independent.gif">
    </div>
        <div class="Problem">
            <!-- <img style="width: 100%;position: absolute;bottom: 15px; right: 7px; z-index: 1; transform: scaleX(-1)" src="./static/img/Independent.gif"> -->
            {% if problem[pro_num-1].Type =='ShortAnswer' %}
                <div class="short">
                     <p>{{ problem[pro_num-1].Content }}</p>
                     <div style="width: 100%; display: flex; justify-content: center; margin-top: .2rem;" >
                         <a href="/Practice?Problem_id={{ chapid }}&Problem_number={{ pro_num - 1 }}">Last |</a>
                        <a href="/Practice?Problem_id={{ chapid }}&Problem_number={{ pro_num + 1 }}">| Next</a>
                     </div>
                </div>
                <div class="AnswerS">
                    <form method="post" action="#">

                        <input type="text" placeholder="input answer" name="answer">
                         <button type="submit" value="Submit">Submit</button>


                     </form>
                     <div>
                        {% if submitResult=='Wrong' %}
                            <img class="jump_img" id="JumpImg" src="./static/img/Cry.png"><h1>Correct Answer:{{ problem[pro_num-1].Answer }}</h1>
                        {% elif submitResult=='Correct' %}
                            <img class="jump_img" id="JumpImg" src="./static/img/Smile.png">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="short">
                    <p>{{ problem[pro_num-1].Content }}</p>
                    <div style="width: 100%; display: flex; justify-content: center">
                        <a href="/Practice?Problem_id={{ chapid }}&Problem_number={{ pro_num - 1 }}">Last |</a>
                        <a href="/Practice?Problem_id={{ chapid }}&Problem_number={{ pro_num + 1 }}">| Next</a>
                    </div>
                </div>
                <div class="AnswerC">
                    <form>
                        {% if problem[pro_num-1].Option.split(',')[0] == Canswer %}
                            <input checked="checked" name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[0] }}"><a>A:{{ problem[pro_num-1].Option.split(',')[0] }}</a><br/>
                        {% else %}
                            <input name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[0] }}"><a>A:{{ problem[pro_num-1].Option.split(',')[0] }}</a><br/>
                         {% endif %}
                        {% if problem[pro_num-1].Option.split(',')[1] == Canswer %}
                            <input checked="checked" name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[1] }}"><a>B:{{ problem[pro_num-1].Option.split(',')[1] }}</a><br/>
                        {% else %}
                            <input name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[1] }}"><a>B:{{ problem[pro_num-1].Option.split(',')[1] }}</a><br/>
                         {% endif %}
                        {% if problem[pro_num-1].Option.split(',')[2] == Canswer %}
                            <input checked="checked" name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[2] }}"><a>C:{{ problem[pro_num-1].Option.split(',')[2] }}</a><br/>
                        {% else %}
                            <input name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[2] }}"><a>C:{{ problem[pro_num-1].Option.split(',')[2] }}</a><br/>
                         {% endif %}
                        {% if problem[pro_num-1].Option.split(',')[3] == Canswer %}
                            <input checked="checked" name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[3] }}"><a>D:{{ problem[pro_num-1].Option.split(',')[3] }}</a><br/>
                        {% else %}
                            <input  name="ChoiceAnswer" type="radio" value="{{ problem[pro_num-1].Option.split(',')[3] }}"><a>D:{{ problem[pro_num-1].Option.split(',')[3] }}</a><br/>
                         {% endif %}

                         <button class="btn btn-success btnsubmit" type="submit" value="Submit">Submit</button>
                    </form>
                    <div>
                        {% if submitResult=='Wrong' %}
                            <img class="jump_img" id="JumpImg" src="./static/img/Cry.png"><h1>Correct Answer:{{ problem[pro_num-1].Answer }}</h1>
                        {% elif submitResult=='Correct' %}
                            <img class="jump_img" id="JumpImg" src="./static/img/Smile.png">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
    </div>
    </div>
</body>
</html>