<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href=".\static\css\Register.css">
    <title></title>
    <script type="text/javascript">
        function checkEmail() {
            var temp = document.getElementById("remailid");
            var emailreg =  /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;

            if(!emailreg.test(temp.value))
            {
                alert("请输入有效Email格式");
                return false;
            }
            else
                return true;
        }

    </script>
</head>
<body>
    <div class="Bg">
        <img src="./static/img/user/bgschool1.jpg">
    </div>
    <div class="loginn">
        <img src="./static/img/user/logo.png">
        <br>
        <br>
        <br>
        <form method="post">
            <table class="LOGB" cellspacing="0">
                <tr>
                    <td>Username:</td>
                    <td><input type="text"  placeholder="Create Username" class="input2" name="rename"></td>
                </tr>

            </table>
            <br>
           <table class="LOGB"  cellspacing="0" >
                <tr>
                    <td>Password: </td>
                    <td><input type="password" placeholder="Create Password" class="input2" name="repwd"></td>
                </tr>
            </table>
            <br>
             <table class="LOGB"   cellspacing="1">
                <tr>
                    <td>Email:</td>
                    <td><input type="text" maxlength="30" placeholder="" class="input2" name="remail" id="remailid"></td>
                </tr>
            </table>
            <br>
            <a  href=""><button id="log1" onclick="return checkEmail()">Sign up</button></a>{{msg}}
            <div class="LOGE">
                <p>Already have an account? <a href="{{ url_for('Blu_user.Login') }}">Log in</a></p>
            </div>

        </form>

    </div>
</body>
</html>