<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./static/bootstrap/css/bootstrap.css/bootstrap.min.css">
     <link rel="stylesheet" href="./static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="./static/css/Study.css">
    <script type="text/javascript" src="./static/js/LikeOnclick.js"></script>
    <script type="text/javascript" src="./static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./static/bootstrap/js/bootstrap.js/bootstrap.min.js"></script>
    <title>学习区</title>
</head>
<body>
    <iframe src="./Header" frameborder="0" width="100%" height="100px"></iframe>
    <div class="main">
		<ul>
			<li><a href='{{ url_for('Blu_user.Home')}}'>Home</a></li>
			<li><a href='{{ url_for('Blu_study.Study')}}'>KnowledgeBase</a></li>
			<li><a href='{{ url_for('Blu_practice.Practice')}}'>Practice</a></li>
			<li><a href='{{ url_for('Blu_Error.Error')}}'>WrongQuestionSet</a></li>
            <li><a href="{{ url_for('Blu_Quizzes.Quizzes')}}">Quizzes</a></li>
			<li><a href="{{ url_for('Blu_Discuss.Discuss')}}">Discussion</a></li>
            <li><a href="{{ url_for('Blu_Independent.Independent')}}">PostQuestion</a></li>
		</ul>
	</div>
    <div class="Total">
        <div class="Menu">
            <ul id='Chapter'>
                    <li class="ChaList"><a  onclick="javascript:Foo(); return false;" href="#">Table of Contents</a></li>
                    {% for one in range(1,FirstDreCount + 1) %}
                        <li class="FirList"><a href="/Study?ChoiceID={{ one }}" class="First">{{ one }} {{ SecDre[one-1] }}</a></li>
                        {% for chap in chapter %}
                            {% if (one==chap.FisrtDirectory) and (ChoiceID == one) %}
                                <ul class="SecList"><a href="/Study?chapter_id={{ chap.id }}" >{{ one }}.{{ chap.SecondDirectory }} {{ chap.SecondDirectoryName }}</a></ul>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </ul>
        </div>
        <div class="Know" id="knowID">
        {% for cha in chapter %}
            {% if chapid==cha.id %}
                <h2>7.{{ cha.FisrtDirectory }}.{{ cha.SecondDirectory }}&nbsp&nbsp&nbsp&nbsp{{ cha.SecondDirectoryName }}</h2>
                <div>
                    <b style="font-size: 20px">Example:</b>
                    <p>{{ ExampleList[ExampleNum-1].Example }}</p>
                </div>
                <div>
                    <b style="font-size: 20px">Solution:</b>
                    <p>{{ ExampleList[ExampleNum-1].Solution }}</p>
                </div>
            {% endif %}
        {% endfor %}
            <div class="ChoiceK">
                <a href="/Study?chapter_id={{ chapid }}&exNumber={{ ExampleNum - 1 }}">Last |</a>
                <a href="/Study?chapter_id={{ chapid }}&exNumber={{ ExampleNum + 1 }}">| Next</a>
            </div>
        </div>
        <div class="UserPublish">

        </div>
    </div>
</body>
</html>