<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生提交题库</title>
</head>
<body>
    <div class="Info">
        <div class="Log">
            <a href='{{ url_for('Blu_user.Login') }}'>Login</a>
            <a href="{{ url_for('Blu_Personal.Personal') }}"><img src={{ UserInfo.photo }}></a>
        </div>
        <div class="Exercises" title="This is the total number of exercises you've done from Practice page and Quizzes page so far.">
            <h4>Exercises:</h4>
            <p>{{ UserDataInfo.Exercises }}</p>
        </div>
        <div class="Accuracy" title="This is the accuracy of your whole exercises.">
            <h4>Accuracy:</h4>
            <p>{{ UserDataInfo.Accuracy }}%</p>
        </div>
        <div class="Likes" title="This is the number of Likes you get from Discussion page, they can be exchanged to more game coins by click +." onclick="Convert()">
            <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLikes:</h4>
            <p>{{ UserDataInfo.Likes }}</p></a><img src="./static/img/Likes.gif">
        </div>
        <div class="Likes" title="Answer correctly: a exercise=a game coin(Practice page); a exercise=more game coins(Quizzes page)">
            <h4>Game Coins:</h4>
            <p>{{ UserDataInfo.Gold }}</p><img src="./static/img/coins.gif">
        </div>
    </div>
    <div class="DisPublish">
        <h2>学生提交列表</h2>
        <table width=80% border='1'>
            <tr>
                <th>章节</th>
                <th>题目</th>
                <th>详解</th>
                <th>答案</th>
                <th>点赞</th>
            </tr>
            {% for Pub in PublishList %}
                <tr>
                    <td>7.{{ Pub.FisrtDirectory }}.{{ Pub.SecondDirectory }}</td>
                    <td>{{ Pub.Content }}</td>
                    <td>{{ Pub.AnswerDes}}</td>
                    <td>{{ Pub.Answer }}</td>
                    <td><a href="/Personal?PublishID={{ Pub.id }}">Like</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="UserPublish">
        <form method="post">
            <p>提交练习题</p>
            <p>一级目录:</p>
            <input type="text" placeholder="" name="FirstDire">
            <p>二级目录:</p>
            <input type="text" placeholder="" name="SecondDire">
            <p>练习题内容:</p>
            <input type="text" placeholder="" name="Content">
            <p>详解:</p>
            <input type="text" placeholder=" " name="Detail">
            <p>答案:</p>
            <input type="text" placeholder="" name="Answer">
            <a href=""><button type="submit">提交</button></a>
        </form>
    </div>
</body>
</html>